/* =========================== */
/* =====Core Sans C Fonts===== */
/* =========================== */

@font-face {
    font-family: 'core_sans_c55_medium';
    src: url('../webfonts/coreSansC/fontspring-demo-coresansc55-webfont.woff2') format('woff2'),
         url('../webfonts/coreSansC/fontspring-demo-coresansc55-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'core_sans_c65_bold';
    src: url('../webfonts/coreSansC/fontspring-demo-coresansc65-webfont.woff2') format('woff2'),
         url('../webfonts/coreSansC/fontspring-demo-coresansc65-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'core_sans_c75_extrabold';
    src: url('../webfonts/coreSansC/fontspring-demo-coresansc75-webfont.woff2') format('woff2'),
         url('../webfonts/coreSansC/fontspring-demo-coresansc75-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'core_sans_c35_light';
    src: url('../webfonts/coreSansC/fontspring-demo-coresansc35-webfont.woff2') format('woff2'),
         url('../webfonts/coreSansC/fontspring-demo-coresansc35-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'core_sans_c45_regular';
    src: url('../webfonts/coreSansC/fontspring-demo-coresansc45-webfont.woff2') format('woff2'),
         url('../webfonts/coreSansC/fontspring-demo-coresansc45-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



/* =========================== */
/* =======Causten Fonts======= */
/* =========================== */

@font-face {
    font-family: 'caustenextra_bold';
    src: url('../webfonts/caustenWebFonts/causten-extrabold-webfont.woff2') format('woff2'),
         url('../webfonts/caustenWebFonts/causten-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'caustenlight';
    src: url('../webfonts/caustenWebFonts/causten-light-webfont.woff2') format('woff2'),
         url('../webfonts/caustenWebFonts/causten-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'caustenmedium';
    src: url('../webfonts/caustenWebFonts/causten-medium-webfont.woff2') format('woff2'),
         url('../webfonts/caustenWebFonts/causten-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'caustenregular';
    src: url('../webfonts/caustenWebFonts/causten-regular-webfont.woff2') format('woff2'),
         url('../webfonts/caustenWebFonts/causten-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'caustensemi_bold';
    src: url('../webfonts/caustenWebFonts/causten-semibold-webfont.woff2') format('woff2'),
         url('../webfonts/caustenWebFonts/causten-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'caustenbold';
    src: url('../webfonts/caustenWebFonts/causten-bold-webfont.woff2') format('woff2'),
         url('../webfonts/caustenWebFonts/causten-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}